// Styling for the services section
#services {
  background-image: url("../img/testest.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  /*.section-subheading {
    background-color: rgba(66, 66, 66, 0.7);
    border-radius: 10px;
    
  }*/

  .fillOutPage {
    margin-bottom: 130px;
  }

  h2 {
    color: darken($primary, 5);
    margin-top: 35px;
  }

  h3 {
    color: white;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  /*h4 
    color: white;
  }*/

  p {
    margin-top: 25px;
    color: white;
    background-color: rgba(66, 66, 66, 0.7);
    border-radius: 10px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  //color: darken(white, 7);
  color: white;
  font-size: 25px;
}
