// Styling for the team section
.infoSection {
  background-color: darken($white, 6);
}

#team {
  background-image: url("../img/test37.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  h2 {
    color: $primary;
  }
  h3 {
    margin-bottom: 25px;
  }

  .description {
    color: darken(white, 15);
  }
}

.team-member {
  margin-bottom: 20px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    color: $primary;
  }
  p {
    margin-top: 0;
    color: white;
  }
}
